extends layout

block append scripts
  script(src='/javascripts/pdfmake.min.js')
  script(src='/javascripts/vfs_fonts.js')
  script.
    $( document ).ready(function() {
      refreshTable();
    });
    function scheduleDisplayChange() {
      if ($("#scheduleDisplay").val() == "All Games") {
        $("#scheduleOptions").empty();
        $("#scheduleOptions").append(
          "<option>Not Applicable</option>"
        );
      }
      else if ($("#scheduleDisplay").val() == "By Month") {
        $("#scheduleOptions").empty();
        $("#scheduleOptions").append(
          "<option>May</option>"
        );
        $("#scheduleOptions").append(
          "<option>June</option>"
        );
        $("#scheduleOptions").append(
          "<option>July</option>"
        );
        $("#scheduleOptions").append(
          "<option>August</option>"
        );
        $("#scheduleOptions").append(
          "<option>September</option>"
        );
      }
      else if ($("#scheduleDisplay").val() == "By Team") {
        $.get("/api/teams/allActive", function(data) {
          data = JSON.parse(data);
          $("#scheduleOptions").empty();
          for (i=0; i < data.length; i++) {

            $("#scheduleOptions").append(
              "<option value="+data[i].teamID+">"+data[i].displayID+" - "+data[i].name+"</option>"
            );
          }
        });
      }
    };
    function refreshTable() {
      $("#scheduleTable").empty();
      switch($("#scheduleDisplay").val()){
        case "All Games":
          $.getJSON("/api/schedule/allActive", function(data, status) {
            data = JSON.parse(data);
            populateTable(data);
            $("#currentlyDisplaying").text("Currently Displaying: All Games");
          });
          break;
        case "By Month":
          $.getJSON("/api/schedule/byMonth/"+$("#scheduleOptions").val(), function(data, status) {
            data = JSON.parse(data);
            populateTable(data);
            $("#currentlyDisplaying").text("Currently Displaying: By Month: " + $("#scheduleOptions").val());
          });
          break;
        case "By Team":
          $.getJSON("/api/schedule/byTeam/"+$("#scheduleOptions").val(), function(data, status) {
            data = JSON.parse(data);
            populateTable(data);
            $.getJSON("/api/teams/name/byID/"+$("#scheduleOptions").val(), function(data, status) {
              data = JSON.parse(data);
              $("#currentlyDisplaying").text("Currently Displaying: By Team: " + data[0].name);
            });
          });
          break;
      }
    };
    function populateTable(rows) {
      $("#scheduleTable").append(
        "<tr><th class=scheduleHeader>Date and Time</th><th class=scheduleHeader>Away Team</th><th class=scheduleHeader>Home Team</th><th class=scheduleHeader>Field</th><th class=scheduleHeader>Score</th></tr>"
      );
      var dataToAppend = "";
      var currentLine = "";
      for(i = 0; i < rows.length; i++) {
        var myDate = moment(rows[i].dateTime).format("MMM Do");
        var myTime = moment(rows[i].dateTime).subtract(1, "hours").format("h:mm a");
        currentLine = "<tr><td align='center'>"+myDate+"<br/>"+myTime+"</td>";
        // Away Team
        if(rows[i].awayScore > rows[i].homeScore)
          currentLine += "<td align='center' bgcolor='lightgrey'>"+rows[i].awayTeamDisplayID+" - "+rows[i].awayTeamName+"</td>";
        else
          currentLine += "<td align='center'>"+rows[i].awayTeamDisplayID+" - "+rows[i].awayTeamName+"</td>";
        // Home Team
        if(rows[i].awayScore < rows[i].homeScore)
          currentLine += "<td align='center' bgcolor='lightgrey'>"+rows[i].homeTeamDisplayID+" - "+rows[i].homeTeamName+"</td>";
        else
          currentLine += "<td align='center'>"+rows[i].homeTeamDisplayID+" - "+rows[i].homeTeamName+"</td>";
        // Field Name
        currentLine += "<td align='center'>"+rows[i].fieldName+"</td>";
        // Status Column
        if(rows[i].status == "played" && rows[i].awayScore != null)
          currentLine += "<td align='center'>"+rows[i].awayScore+" - "+rows[i].homeScore;
        else
          currentLine += "<td align='center'>"+rows[i].status;
        if($("#user").val() == 'Brad Bergeron')
          currentLine += "<br><a href='/manage/games/"+rows[i].gameID+"'>Submit&nbsp;Score</a>";
        else {
          //currentLine += "tester";
        }
        currentLine += "</td></tr>";
        dataToAppend += currentLine;
      }

      $("#scheduleTable").append(dataToAppend);
    };
    function exportToPDF() {
      switch($("#scheduleDisplay").val()){
        case "All Games":
          $.getJSON("/api/schedule/allActive", function(data, status) {
            data = JSON.parse(data);
            generatePDF(data);
          });
          break;
        case "By Month":
          $.get("/api/schedule/byMonth/"+$("#scheduleOptions").val(), function(data, status) {
            data = JSON.parse(data);
            generatePDF(data);
          });
          break;
        case "By Team":
          $.get("/api/schedule/byTeam/"+$("#scheduleOptions").val(), function(data, status) {
            data = JSON.parse(data);
            generatePDF(data);
          });
          break;
      }

    };
    function generatePDF(rows) {
      return;
      var dt = new moment().format("MMMM Do YYYY");


      var docDefinition = {
        content: [
          { text: 'Generated: ' + dt, style: 'date' },
          { text: 'Fredericton Fun Softball League', style: 'header' },
          { text: '2016 Schedule', style: 'year' },
          {
            style: 'table',
            table: {
              headerRows: 1,
              body: [
                [{text: 'Date', style: 'tableHeader'}, {text: 'Away Team', style: 'tableHeader'}, {text: 'Home Team', style: 'tableHeader'}, {text: 'Fields', style: 'tableHeader'}],
                ['One value goes here', 'Another one here', 'OK?', 'test']
                ]
              }
            }
        ],
        styles: {
          header: {
            fontSize: 18,
            fontColor: 'black',
            bold: true,
            margin: [0, -20, 0, 10]
          },
            year: {
            fontSize: 18,
            bold: true,
            margin: [0, -10, 0, 0]
          },
          date: {
            fontSize: 15,
            bold: true,
            fontCOlor: 'black',
            margin: [0, 0, 0, 0],
            alignment: 'right'
          },
          subheader: {
            fontSize: 16,
            bold: true,
            margin: [0, 10, 0, 5]
          },
          table: {
            margin: [0, 5, 0, 15]
          },
          tableHeader: {
            bold: true,
            fontSize: 13,
            color: 'black'
          }
        },
        defaultStyle: {
          // alignment: 'justify'
        }
      };

      //var docDefinition = { content: 'This is an sample PDF printed with pdfMake' };
      pdfMake.createPdf(docDefinition).open();

    };
    function exportToICal() {
      switch($("#scheduleDisplay").val()){
        case "All Games":
          $.getJSON("/api/schedule/allActive", function(data, status) {
            exportToICalData({"type": "all"});
          });
          break;
        case "By Month":
          $.get("/api/schedule/byMonth/"+$("#scheduleOptions").val(), function(data, status) {
            var json = {};
            json.type = "byMonth";
            json.month = $("#scheduleOptions").val();
            exportToICalData(json);
            //exportToICalData('{"type": "byMonth", "month": "'+$("#scheduleOptions").val()+'"}');
          });
          break;
        case "By Team":
          $.get("/api/schedule/byTeam/"+$("#scheduleOptions").val(), function(data, status) {
            var json = {};
            json.type = "byTeam";
            json.teamID = $("#scheduleOptions").val();
            exportToICalData(json);
            //exportToICalData('{"type": "byTeam", "teamID": "'+$("#scheduleOptions").val()+'"}');
          });
          break;
      };
    };
    function exportToICalData(data) {
      $.ajax(
      {
        type: "POST",
        url: "/schedule/export/ical",
        data: data,
        success: function() {
          window.open("/schedule/ical/ical.ics");
        }
      });
    };

block content
  h2 Schedule
  hr
  p Display:
    select(id="scheduleDisplay", onChange="scheduleDisplayChange();", style="width: 100px")
      option(type=-1) All Games
      option By Month
      option By Team
    select(id="scheduleOptions")
      option(type=-1) Not Applicable
    input(type="button" value="Refresh" onClick="refreshTable();")
  if(typeof user != 'undefined' && user[0].role == "admin")
    p Export current schedule as PDF:
      input(type="button" value="Export" onClick="exportToPDF();")
    p Export current schedule as iCal:
      input(type="button" value="Export" onclick="exportToICal();")
  br
  p#currentlyDisplaying
  hr
  table(border=1, id="scheduleTable", width="100%")
